.git
.gitignore
.github
.idea
.venv
venv/
__pycache__/
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
htmlcov/
.coverage
*.db
secrets/.env
notebooks/.ipynb_checkpoints
functional_tests/
cinema_game_backend/tests/
Dockerfile
.dockerignore
docker-compose*.yml
